# Lectura de datos con pandas

Para leer datos desde un archivo externo podemos utilizar la funcion read_csv() de pandas

In [80]:
from operator import index
import pandas as pd
id = pd.Series(range(1, 201), name='id')
df = pd.read_csv("https://raw.githubusercontent.com/codigofacilito/pandas-python/master/users.csv")
df['id'] = id

In [81]:
del df['Unnamed: 0']
df.set_index('id', inplace=True)
df

,nombre,edad,genero,pais,email
id,,,,,
1,Mr Jerome Thomas,73,male,United States,jerome.thomas@example.com
2,Mr Gary Berry,70,male,United Kingdom,gary.berry@example.com
3,Mr Noham Dubois,40,male,France,noham.dubois@example.com
4,Mrs Naja Johansen,63,female,Denmark,naja.johansen@example.com
5,Mr Damien Marchand,61,male,France,damien.marchand@example.com
...,...,...,...,...,...
196,Mr Raul Bravo,46,male,Spain,raul.bravo@example.com
197,Miss Maeva Fortin,40,female,Canada,maeva.fortin@example.com
198,Mr Gabriel Berger,40,male,France,gabriel.berger@example.com
199,Mrs Ülkü Tanrıkulu,37,female,Turkey,ulku.tanrikulu@example.com
200,Mr Raff Valkema,60,male,Netherlands,raff.valkema@example.com

In [82]:
df.columns = df.columns.str.upper()
df.columns

Index(['NOMBRE', 'EDAD', 'GENERO', 'PAIS', 'EMAIL'], dtype='object')

## Limpiar datos de los dataframes

A la hora de hacer la limpieza de datos para dataframes que tengan ciertos datos incompletos o en su caso con ```NaN```
se puede utilzar la función ```dropna()``` para eliminar las filas o columnas que tengan datos incompletos. Y genera un nuevo dataframe.

o en su defecto se puede utilizar la función ```fillna("Valor a llenar")``` para rellenar los datos incompletos con un valor especifico.