## Repaso rápido

> Para acceder a Jupyter Lab en línea de comandos:
> 1. Abrir Anaconda prompt
> 2. Escribir `jupyter lab`

- `print`/`input`
- Variables
  - Tipos
  - Cómo cambias de tipos
- Condicionales
  - Sintaxis

In [1]:
edad = input("Dime tu edad: ")
print(type(edad))

edad = int(edad)
print(type(edad))

Dime tu edad:  27

<class 'str'>
<class 'int'>

In [2]:
if edad >= 18:
    print("Eres mayor de edad.")
else:
    print("Eres menor de edad.")

Eres mayor de edad.

In [6]:
coche = "azul"

if coche == "rojo":
    print("Es de Rodo.")
elif coche == "blanco": # else if
    print("Es de Hiram.")
elif coche == "azul":
    print("Es de Paco.")
else:
    print("No sé de quién es.")

Es de Paco.

## Colecciones

- Listas
- Tuplas
- Diccionarios

In [2]:
clase_mate = ["José Luis", "Roberto", "Marcos", "Luis", "Mary", "Fer"]
#                  0           1          2        3       4      5

In [3]:
clase_mate = [
    "José Luis",
    "Roberto",
    "Marcos",
    "Luis",
    "Mary",
    "Fer"
]

In [4]:
print(clase_mate)

['José Luis', 'Roberto', 'Marcos', 'Luis', 'Mary', 'Fer']

Las colecciones implican un conjunto de datos y de cierta manera, un orden asociado.

Las listas, siempre inician con índice 0 y para acceder a los elementos, ponemos el índice entre corchetes `[ ]`.

In [5]:
print(clase_mate[2])
print(len(clase_mate))

Marcos
6

| I | No. | Nombre completo | Asignatura | Asistencias |
| - | - | - | - | - |
| 0 | 1 | Isaí Espinosa | Matemáticas II | 15 |
|  1| 2 | Hiram  Torres| Física II      | 15 |

In [6]:
clase_mate = [
    [1, "José Luis", "Matemáticas", 15],
    [2, "Roberto", "Matemáticas", 15],
    [3, "Marcos", "Matemáticas", 15]
]

print(clase_mate)

[[1, 'José Luis', 'Matemáticas', 15], [2, 'Roberto', 'Matemáticas', 15], [3, 'Marcos', 'Matemáticas', 15]]

In [7]:
print(clase_mate[0])

[1, 'José Luis', 'Matemáticas', 15]

In [8]:
identidad = [
    [1, 0, 0],
    [0, 1, 0],
    [0, 0, 1]
]

print(identidad)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [9]:
clase_mate = [
    "José Luis", # 0  -6
    "Roberto",   # 1  -5
    "Marcos",    # 2  -4
    "Luis",      # 3  -3
    "Mary",      # 4  -2
    "Fer"        # 5  -1
]

In [10]:
print(clase_mate)

['José Luis', 'Roberto', 'Marcos', 'Luis', 'Mary', 'Fer']

In [11]:
clase_mate[4] = "María"
print(clase_mate)

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María', 'Fer']

In [12]:
indx = len(clase_mate) - 1
clase_mate[indx] = "Fernanda"
print(clase_mate)

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María', 'Fernanda']

In [13]:
clase_mate[-1] = "Fernando"
print(clase_mate)

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María', 'Fernando']

In [15]:
clase_mate[6] = "Fernanda" 
print(clase_mate)

IndexError: list assignment index out of range

In [16]:
print(clase_mate)

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María', 'Fernando']

**Slicing**

In [17]:
print(clase_mate[2:len(clase_mate)])

['Marcos', 'Luis', 'María', 'Fernando']

In [18]:
print(clase_mate[2:])

['Marcos', 'Luis', 'María', 'Fernando']

In [19]:
print(clase_mate[:4])

['José Luis', 'Roberto', 'Marcos', 'Luis']

In [21]:
print(clase_mate[:6])

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María', 'Fernando']

In [22]:
print(clase_mate[:])

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María', 'Fernando']

In [23]:
print(clase_mate[:-1])

['José Luis', 'Roberto', 'Marcos', 'Luis', 'María']

In [24]:
print(clase_mate[0:len(clase_mate):2])

['José Luis', 'Marcos', 'María']

In [25]:
print(clase_mate[::2])

['José Luis', 'Marcos', 'María']

In [26]:
print(clase_mate[1::2])

['Roberto', 'Luis', 'Fernando']

In [27]:
print(clase_mate[::-1])

['Fernando', 'María', 'Luis', 'Marcos', 'Roberto', 'José Luis']

Ejemplo de búsqueda sencilla en una lista:

In [17]:
for index, alumno in enumerate(clase_mate):
    if alumno == "María" or alumno == "Marcos":
        print(index, alumno)

2 Marcos
4 María

Etapas de desarrollo de software:

- Development
- Staging
- Production

**Listas de listas (matrices)**

In [31]:
print(matriz[0][1])

2

In [32]:
matriz = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriz[0])

[1, 2, 3]

In [33]:
for fila in matriz:
    print(fila[2])

3
6
9

**Tuplas**

Tupla == Lista, pero las tuplas son inmutables.

In [34]:
var_1 = [1, 2, 3]
var_2 = (1, 2, 3)

In [35]:
print(type(var_1))
print(type(var_2))

<class 'list'>
<class 'tuple'>

In [36]:
print(var_1[1])
print(var_2[1])

2
2

In [37]:
var_1[1] = 22
print(var_1)

[1, 22, 3]

In [18]:
var_2[1] = 22
print(var_2)   #las tuplas no pueden modificar sus valores ya asignados

NameError: name 'var_2' is not defined

**Diccionarios**

Está compuesto por valores y llaves.

In [39]:
alumno = {
    "nombre": "Rodolfo Ferro",
    "edad": 27,
    "email": "ferro@cimat.mx",
    "asignaturas": ["Monitos y palitos I", "Plastina II", "Artes I"]
}

In [40]:
print(alumno)

{'nombre': 'Rodolfo Ferro', 'edad': 27, 'email': 'ferro@cimat.mx', 'asignaturas': ['Monitos y palitos I', 'Plastina II', 'Artes I']}

In [41]:
print(alumno["nombre"])
print(type(alumno["nombre"]))

Rodolfo Ferro
<class 'str'>

In [42]:
print(alumno["edad"])
print(type(alumno["edad"]))

27
<class 'int'>

In [43]:
print(alumno["asignaturas"])
print(type(alumno["asignaturas"]))

['Monitos y palitos I', 'Plastina II', 'Artes I']
<class 'list'>

In [44]:
print(alumno["asignaturas"][1])

Plastina II

In [45]:
productos = [
    {
        "name": "",
        "bar_code": "0909809809132",
        "cost": 0.00,
        "tags": [],
        "category": "algo"
    }
]