# *Strings*

In [66]:
#forma 1 para escribir cadenas de strings

Segundo_Nombre = " Isai " 
Apellido_Materno = " Espinosa "         

final_message = "Hiram" + Segundo_Nombre + "Torres" + Apellido_Materno
print(final_message)

Hiram Isai Torres Espinosa

In [67]:
#forma 2 para escribir cadenas de strings 

Segundo_Nombre = " Isai " 
Apellido_Materno = " Espinosa "  

final_message2 = "Hiram %s Torres %s" %(Segundo_Nombre,Apellido_Materno)
print(final_message2)

Hiram  Isai  Torres  Espinosa

In [68]:
#forma 3 para escribir cadenas de strings

Segundo_Nombre = " Isai " 
Apellido_Materno = " Espinosa "  

final_message3 = "Hiram {} Torres {}".format(Segundo_Nombre,Apellido_Materno)
print(final_message3)

Hiram  Isai  Torres  Espinosa

In [69]:
#ejemplo de strings como listas
string = "Hiram Isai Torres Espinosa"

print(string[11])

T

In [70]:
string = "Hiram Isai Torres Espinosa"

print(string[0:10])

Hiram Isai

In [71]:
string = "Hiram Isai Torres Espinosa"

print(string[0:10:2]) #con saltos de 2 en 2

HrmIa

## _Métodos de cadenas_

In [72]:
Nombres = "Hiram Isai "
Apellidos = "Torres Espinosa"

result = "{}{}".format(Nombres,Apellidos)
print(result)

Hiram Isai Torres Espinosa

In [73]:
#variacion 
Nombres = "Hiram Isai "
Apellidos = "Torres Espinosa"

result = "{a}{b}".format(a = Nombres,b = Apellidos)
print(result)

Hiram Isai Torres Espinosa

## Metodos de formato en strings

In [74]:
texto = "curso de Pyton 3"

resultado_tres = texto.capitalize()
resultado_tres = texto.swapcase()
print(resultado_tres)

CURSO DE pYTON 3

In [75]:
result = result.lower() # para hacer todo el string en minusculas 
print ( result)

hiram isai torres espinosa

In [76]:
result = result.upper() # para hacer todo el string en mayusculas 
print ( result)

HIRAM ISAI TORRES ESPINOSA

In [77]:
print(result.isupper())
print(result.islower())

True
False

In [78]:
 result = result.title() # para acomodar como titulo 
print (result)

Hiram Isai Torres Espinosa

### Metodos de busqueda

In [79]:
pos = result.find("Torres") #para saber en que posicion del caracter comienza
print(pos)

11

In [80]:
count = result.count("i") # para buscar cuantas veces se repiten las palabras o letras
print(count)

3

In [81]:
New_strings = result.replace("a", "x") # reemplazar letras o palbras 
print(New_strings)

Hirxm Isxi Torres Espinosx

In [82]:
#con strip, se eliminaran los espacios que hay antes y despues en el string original 
string_dos = "  Hiram Isai Torres Espinosa  " 
resultado = string_dos.strip() 
print(resultado)

Hiram Isai Torres Espinosa

In [83]:
#si solo se quiere remplazar cierto numero de veces algo en un string se agrega un tercer valor que sera un numero entero

New_strings = result.replace("a", "x",2) # reemplazar letras o palbras solo dos veces en este caso o las veces que querramos 
print(New_strings)

Hirxm Isxi Torres Espinosa

In [84]:
New_string = result.split(" ") # en todos los lugares donde encuentre la letra o el espacio los va a fraccionar y hará una lista 
print(New_string)

['Hiram', 'Isai', 'Torres', 'Espinosa']

In [85]:
string = "Hiram; Isai; Torres; Espinosa"
separador = "; "

resultado = string.split(separador)
nuevo_string = " ".join(resultado)
print(nuevo_string)
print(resultado)

Hiram Isai Torres Espinosa
['Hiram', 'Isai', 'Torres', 'Espinosa']